<template>
    <div class="news">
      <Content
        :title="article.title"
        :text="article.content"
        :imagePath="article.bannerPath"
        :author="article.author"
        :createdDate="article.createdDate.toString()"
      />
    </div>
</template>

<script>

import articleModel from '@/models/article.js';

import Content from '@/components/commons/content/Content.vue';

export default {
  name: 'NewsIndex',
  components: {
    Content,
  },
  data() {
    return {
      article: articleModel.get(this.$route.params.id),
    };
  },
};
</script>

<style scoped>
    .home {
        background-color: #3B3F48;
        width: 100%;
    }
</style>
